body {
    font-family: 'Gulzar', serif;
    background-color: #E8EDFF;
}

input {
    font-family: 'Gulzar', serif;
}

#loginHeader {
    line-height: 7vh;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 7vh;
}

form * {
    display: block;
    margin: 10px auto;
}

#loginForm {
    border-bottom: 0.01em solid black;
}

span {
    color: red;
    text-align: center;
    position: relative;
}

#loginForm.span {
    top: 2vh;
}

#signupForm.span {
    top: 1vh;
}

input[type="email"], input[type="password"] {
    font-size: 0.8rem;
    border: 0.1em solid black;
    width: 70%;
}

h2 {
    text-align: center;
    font-size: 1.65rem;
}

.button {
    padding: 12px;
    border: 0;
    color: #FFF;
    width: 50%;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
    font-size: 0.9rem;
}

input.button {
    background-color: dodgerblue;
    font-size: 1.05rem;
    padding: 1px;
}

.button:hover {
    transform: scale(1.1);
}

form a {
    font-size: 1.05rem;
    text-decoration: none;
}

.form-container > a {
    background-color: green;
    display: inline-block;
    padding: 2px;
    font-size: 1.05rem;
    text-align: center;
    margin-top: 1.35vh;
    text-decoration: none;
    color: #FFF;
}

form a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #FFF;
    position: absolute;
    left: 50%;
    padding-bottom: 12px;
    top: 50%;
    width: clamp(300px, 405px, 420px);
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
}